/* @import "tailwindcss"; */


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&display=swap');
@font-face {
  font-family: "Helvetica Light", "Arial Light", Arial, sans-serif;
  src: url(/public/fonts/TT\ Chocolates\ Trial\ ExtraLight.otf) format('opentype');
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Arial';
  font-size: 16px;
}

:root {
  --negro: #000;
  --test1: #00039e;
  --test2: #e2c418;
  --test3: #a80000;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
